<h1>Submit advice to be published in HuMetricsHSS library</h1>

<div class="block-form-wrapper block-form-wrapper--fullwidth">
  <%= render "form", library: @library, advice: @advice, submission: @submission,
    published_activities: @published_activities, published_values: @published_values %>
</div>
