<h1 style="font-size: 2.488em; font-weight: 400; color: #01a499; font-size: 1.440em; margin: 0.579em 0;">
  Sorry, <%= @contributor_application.user.full_name %>
</h1>

<p style="line-height: 1.440em">
  Your application to become a Values Sorter Contributor has been declined. If you have any questions, please feel free
  to contact us at the link below
</p>
