<div class="halfsize-container">
  <h1>Thank you for applying to be a HuMetrics contributor!</h1>

  <p>
    We will review your application shortly. Keep an eye out for an email from us to hear if you have been approved to
    contribute content to the HuMetrics library. In the meantime, you can add content to your own personal library.
  </p>

  <%= link_to "Go to library", library_path(current_user.library), class: "button button--fullwidth button--primary" %>
</div>
