<h1 style="font-size: 2.488em; font-weight: 400; color: #01a499; font-size: 1.440em; margin: 0.579em 0;">
  Sorry, <%= @advice_submission.submitter.full_name %>
</h1>

<p style="line-height: 1.440em">
  Thank you for your submission to the HuMetricsHSS Values Sorter global library. Unfortunately, we are not able to
  accept your submission at this time. Some common reasons for rejection include:
</p>

<ul style="text-align: left;">
   <li>Similarity to something already in the library</li>
   <li>Over-specificity (the activity submitted is unlikely to be applicable outside a very specific or local context)</li>
   <li>Abusive or biased language</li>
</ul>

<p style="line-height: 1.440em">
  This rejection will not affect this advice’s place in your personal library. If you have any questions, please
  contact us as the link below.
</p>
