<h1 style="font-size: 2.488em; font-weight: 400; color: #01a499; font-size: 1.440em; margin: 0.579em 0;">
  <%= @advice_submission.submitter.full_name %> has submitted new content!
</h1>

<p style="line-height: 1.440em">
  Click the link below to review and edit their submission.
</p>

<%= link_to "Review Content",
            admin_advice_submission_url(@advice_submission),
            style: "background-color: #f26f21; border: 0; border-radius: 0.579em; box-sizing: border-box; color: #fff;
                    display: inline-block; font-weight: 600; margin: 2.488em 0; padding: 0.833em 2.986rem;
                    text-decoration: none;" %>
