.button-grid {
  display: grid;
  gap: $size-small-2;
  grid-template-columns: repeat(auto-fill, minmax($rsize-very-large-5 , 1fr));
  margin-bottom: $size-large-1;

  .button-grid-cell {
    display: flex;
  }
}

.button-grid-cell {
  .button-grid-button {
    padding: $size-small-1;
  }
}

.button-grid-button {
  img {
    display: block;
    height: $size-large-1;
    margin: 0 auto $size-small-3;
  }

  i {
    color: $color-grey;
    display: block;
    font-size: $size-large-1;
    margin-bottom: $size-small-3;
  }
}
