/* BUTTONS */

%button {
  @extend %focusable;

  border: 0;
  border-radius: $size-small-2;
  color: $color-white;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  padding: $size-small-1;
  width: 100%;

  &:hover {
    color: $color-white;
  }

  &:disabled,
  &.disabled {
    cursor: not-allowed;
  }

  &.button--inline {
    padding: $size-small-1;
    width: unset;
  }

  @media (min-width: $screen-width-medium-min) {
    font-weight: 400;
    padding: $size-small-1 $rsize-large-5;

    &:not(.button--fullwidth) {
      width: unset;
    }
  }
}

.button--primary {
  background-color: $color-orange;

  &:hover {
    background-color: $color-orange-dark;
  }

  &:disabled,
  &.disabled {
    background-color: $color-orange-light;
  }

  &:disabled:hover,
  &.disabled:hover {
    background-color: $color-orange-light;
  }
}

.button--secondary {
  background-color: $color-white;
  border: 1px solid $color-orange;
  color: $color-orange;

  &:hover {
    background-color: $color-orange-light;
    border: 1px solid $color-orange-dark;
    color: $color-orange-dark;
  }

  &:disabled,
  &.disabled {
    background-color: $color-grey-lightest;
    border: 1px solid $color-grey;
    color: $color-grey;
  }

  &.disabled:hover,
  &:disabled:hover {
    background-color: $color-grey-lightest;
    border: 1px solid $color-grey;
    color: $color-grey;
  }
}

.button--outline,
.button--toggle {
  background-color: $color-white;
  border: 1px solid $color-grey-lighter;
  color: $color-teal;

  &:hover {
    background-color: $color-teal-lightest;
    color: $color-teal;
  }
}

%button--toggle-active {
  background-color: $color-teal-light;
  border-color: $color-teal;
}

.button--orcid {
  align-items: stretch;
  background-color: $color-grey-lightest;
  box-shadow: 0 0 5px 1px $color-grey-light;
  color: $color-grey;
  display: flex;
  justify-content: center;
  margin-top: $size-large-3;
  padding: 0;

  &:hover {
    background-color: $color-grey-lighter;
    color: $color-grey;
  }

  .orcid-logo-container {
    align-items: center;
    background-color: $color-white;
    border-radius: $size-small-2 0 0 $size-small-2;
    border-right: 1px solid $color-grey-light;
    display: flex;
    padding: 0 $rsize-small-1;
  }

  .orcid-logo {
    height: $size-large-3;
    margin: auto;
  }

  .button-text {
    line-height: 1em;
    padding: $size-small-1;
    text-align: center;
    width: 100%;
  }
}

button,
.button {
  @extend %button;
}

/* INPUTS */
@mixin field-margin {
  margin-bottom: $size-large-1;
}

.field-margin {
  @include field-margin;
}

input:not([type='submit']),
select,
textarea {
  @extend %focusable;

  border: 1px solid $color-grey;
  border-radius: $size-small-4;
  box-shadow: none;
  color: $color-grey;
  padding: $size-small-2 $size-small-1;

  .disabled &,
  &:disabled {
    background-color: $color-grey-lightest;
    border: 1px solid transparent;
    color: $color-grey-light;
    cursor: not-allowed;
  }
}

select {
  appearance: none;
  background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="#{to-rgb($color-grey)}" d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z"/></svg>');
  background-position: center right $rsize-small-2;
  background-repeat: no-repeat;
  background-size: $size-small-1;
}

[type='submit'] {
  @extend %button;
}

/* FORMS */
.block-form-wrapper {
  color: $color-grey;
  max-width: 100%;

  &:not(.block-form-wrapper--fullwidth) {
    @include halfsize-container;
  }

  form {
    text-align: left;
  }

  .form-instructions {
    margin-bottom: $size-large-1;
    text-align: left;
  }

  .field {
    @include field-margin;
    width: 100%;
  }

  .field--error {
    input,
    select,
    textarea {
      border-color: $color-red;
    }

    .form-error {
      color: $color-red;
      margin-top: $size-small-2;
    }
  }

  .radio_buttons > label {
    margin-bottom: $size-normal;
  }

  .radio {
    display: inline-block;

    &:not(:first-of-type) {
      margin-left: $rsize-large-1;
    }

    label {
      display: inline;
    }
  }

  label {
    display: block;
    margin-bottom: $size-small-3;
  }

  input,
  select,
  textarea {
    max-width: 100%;
    width: 100%;
  }

  [type='checkbox'],
  [type='radio'] {
    display: inline;
    margin-right: $rsize-small-1;
    width: unset;
  }

  [type='submit'] {
    margin-top: $size-large-4;
  }

  .button-group {
    align-items: center;
    display: flex;
    justify-content: space-between;

    .button {
      margin-top: $size-large-4;
    }
  }
}

@media (min-width: $screen-width-large-min) {
  .block-form-wrapper .inline-when-large {
    align-items: baseline;
    display: flex;
    justify-content: space-between;

    * {
      flex: 0 1 auto;
    }

    :not(.form-error):not(:first-child) {
      margin-left: $rsize-large-1;
    }
  }
}
